<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css'/>
</head>
<body>
    <div id="app">
        <navbar v-bind:buttonText="word" v-bind:logo="word"></navbar>
        <h1>
            {{ firstName }}
        </h1>
        <h1>
            {{lastName}}
        </h1>
        <!-- <h1 v-on:click="modifyFullName">{{fullName()}}</h1>
        <input type="text" v-model:value="showLink">
        <a v-bind:href="link" v-if="showLink" v-bind:target="newWindow ? '_blank' : '_self'">Click Here</a>
        <input type="text" v-model="link">
        <label for="">New Window?</label>
        <input type="text" v-model.boolean="newWindow">
        <ul v-for="todo in todos">
            <li>{{todo.title}}</li>
        </ul> -->
        <input type="text" v-model="word">
        <h1>{{reverseWord()}}</h1>
        <btn v-on:click="btnTextChange"></btn>
        <shakil v-bind:designation="word"></shakil>
        <h2>How's going on {{ firstName }}?</h2>
        
    </div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>