<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="test">
        <h1>My name is {{firstName}}</h1>
        <h1>Full Name is: {{fullName()}}</h1>
        <a v-bind:href="siteURL">{{siteName}}</a>
        <div v-html="markUp"></div>
        <!-- <img v-bind:src="getLink()"> -->
        <button v-on:click="add">Add Year</button>
        <button v-on:click="sub">Subtract Year</button>
        <div v-html="year"></div>
        <input type="text" v-on:keyup="input()">
        <div v-if="seen">You see me</div>
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
        <ol>
            <li v-for="item in todos">
                {{item.dat}}
            </li>
        </ol>
        <img v-bind:src="imgLink" alt="#">
        <input type="text" v-model="imgLink" style="display: block">
    </div>
    
    <div id="app">
        <ol>
            <todo-item></todo-item>
        </ol>
    </div>

    <div id="components-demo">
        <button-counter></button-counter>
    </div>

    <script src="assets/js/script.js"></script>
</body>
</html>